{% macro displaySourceList(sources_list) %}
   
    {% for source in sources_list %}
    <div class=" card-deck " style="background-color: wheat;">
        <div class="card-columns">
            <div class="card col-md-4" >
                <h3 class="card-header">{{source.name}}</h3>
                <p class="card-body">{{source.description}}</p>
                <a target="_blank" href="/Articles/{{source.id}}"><button class="btn btn-success">Visit</button></a>
            </div>

        </div>
       

    </div>
    {% endfor %}

   

{% endmacro %}

<!-- {% macro displayArticleList(articles_object) %}
<div class="container ">
    <div class=" card-columns ">
        {% for article in articles_object %}
                <div class="card col-md-3">
                    <div class="card-header">
                        <h4><a target="_blank" href="{{article.url}}">{{article.title}}</a></h4>
                    </div>
                    <div class="card-body">
                        <img class=" card-img img-responsive" src="{{article.urlToImage}}" alt="">
                        <p class="card-body">{{article.description}}</p>
                        <p class="card-footer">{{article.publishedAt}}</p>
                    </div>

                </div>
            
        {% endfor %}
    </div>

</div>
   

{% endmacro %} 
 -->
