{% macro displaySourceList(sources_list) %}
   
    {% for source in sources_list %}
    <div class=" jumbotron">
    <h3>{{source.name}}</h3>
    <p>{{source.description}}</p>
        <button>Visit</button>

    </div>
    {% endfor %}

   

{% endmacro %}

{% macro displayArticleList(articles_list) %}
<div class="container-fluid card-deck">
    {% for article in articles_list %}
    <div class="card">
        <img src="{{article.urlToImage}}" alt="">
        <h4 class="card-title">{{article.title}}</h4>
        <p class="card-body">{{article.description}}</p>
    </div>

    {% endfor %}
</div>
   

{% endmacro %}

