{% macro displaySourceList(sources_list) %}
   
    {% for source in sources_list %}
    <div class=" card-deck " style="background-color: wheat;">
        <div class="card-columns">
            <div class="card col-md-4" >
                <h3 class="card-header">{{source.name}}</h3>
                <p class="card-body">{{source.description}}</p>
                <a target="_blank" href="/Articles/{{source.id}}"><button class="btn btn-success">Visit</button></a>
            </div>

        </div>
       

    </div>
    {% endfor %}

   

{% endmacro %}

 
